
body {
  background-color: #e8e2db50;
  color: #1a3263;
}

hr {
  border-color: #1a326350;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #f5564e;
}

h1 {
  color: #fab95b;
}
